//Animation
@keyframes click {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.75);
    }

    100% {
        transform: scale(1);
    }
}

// animation: name 800ms ease-in-out;