//Variables
$bg: #1B1B22;
$bg-task: rgba(255, 255, 255, 0.1);
$task-default: #8C8E9A;
$task-active: #4CC2FF;
$win-bg: rgba(36, 36, 36, 0.8);
$win-button: rgba(255, 255, 255, 0.1);
$win-bot: rgba(0, 0, 0, 0.15);
$win-divider: #444;
$input-bg: #1F222D;
$input-border: #5AC4FB;
