@import "variables";
@import "animation";
@import "functions";

* {
    padding: 0;
    margin: 0;
    border: 0;
}

// html {
//     zoom: 5;
// }

body {
    @include center();
    @include background();
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    background-color: $bg;
}

.taskbar {
    @include center();
    width: 100vw;
    height: 48px;
    backdrop-filter: saturate(3) blur(20px);
    background: $bg-task;
    //Margin entre os icons = 6px
}

.icon {
    @include center();
    width: 40px;
    height: 40px;
    border-radius: 4px;
    position: relative;
    margin-right: 6px;


    img {
        width: 24px;
        height: 24px;
        position: absolute;
    }

    img:hover {
        animation: top 4000ms ease-in-out;
    }

}

.icon:last-child {
    margin-right: 0px;
}

.icon:hover {
    // .active {
    //     width: 6px;
    //     height: 3px;
    //     position: absolute;
    //     border-radius: 1px;
    //     bottom: 1px;
    //     background: #8C8E9A;
    //     transition: ease-in-out 200ms;
    // }
    background: $bg-task;
}

.icon-active {
    background: $bg-task;

    .active {
        width: 16px;
        height: 3px;
        position: absolute;
        border-radius: 1px;
        bottom: 1px;
        background: $task-active;
        transition: ease-in;
    }

    #icon {
        animation: click 400ms ease-in-out;
    }
}